# Keystatic (Production / GitHub Storage Mode)
# Create a GitHub OAuth App to get these values
KEYSTATIC_GITHUB_CLIENT_ID=Iv23liMIgc557nhlcJru
KEYSTATIC_GITHUB_CLIENT_SECRET=84ca8f29c32b8b0aeaff58d990d9f29251f109ed
KEYSTATIC_SECRET=kei93kfls820485kg4tgdsdfr47
PUBLIC_GITHUB_REPO=wunluv/eosclub

# Email capture (Google Apps Script endpoint)
PUBLIC_GAS_ENDPOINT=

# Site URL (for canonical/OG tags)
PUBLIC_SITE_URL=https://eos-club.de

# Server Deploy (Static / Hybrid)
DEPLOY_WEB_ROOT=/var/www/eos-club
